{% extends "section.twig" %}

{% block content %}
<header>
    <h3>Fitness-France</h3>
    <p>
        <span class="icon rmargin fa-calendar"></span> Septembre 2011 - Novembre 2013 (alternance 3 jours/semaine)
    </p>
</header>
<p>Au sein d’une équipe de deux personnes, je suis intervenu sur le développement du back-office et du front-end. J’ai également participé aux maintenances applicatives et évolutives liées à ces développements.</p>

<h4>Développement du Back-Office</h4>
<ul>
    <li>Développement from scratch</li>
    <li>Gestions des utilisateurs</li>
    <li>Remonté de statistiques utilisateurs</li>
</ul>
<h4>Développement du Front-End</h4>
<ul>
    <li>Refonte du site existant</li>
    <li>Intégration des maquettes</li>
    <li>Responsive Deisgn</li>
</ul>

<h5>Liens</h5>
<ul class="actions">
    <li class="4u"><a href="https://www.fitness-france.fr/" class="icon rmargin fa-external-link">Site Web</a></li>
</ul>

<h5>Technologies utilisées</h5>
<ul class="feature-icons">
    <li class="fa-code">PHP 5.3</li>
    <li class="fa-code">Javascript / JQuery</li>
    <li class="fa-code">HTML5 / CSS / Less</li>
    <li class="fa-database">MySQL</li>
    <li class="fa-code-fork">SVN</li>
</ul>
{% endblock %}
