{% extends "section.twig" %}

{% block content %}
<header>
    <h3>LeMonde.fr</h3>
    <p>
        <span class="icon rmargin fa-calendar"></span>Mai 2014 - Novembre 2017
    </p>
</header>

<div class="features">
    <article>
        <header>
            <h4>Lead Développeur au sein de l'équipe project</h4>
            <p><span class="icon rmargin fa-calendar"></span>Mars 2017 - Novembre 2017</p>
        </header>
        <p>Toujours au sein des équipes web, je suis passé au poste de lead-développeur, avec pour nouvelles tâches le cadrage des solutions techniques et le suivis des développements de l'équipe.</p>

        <h5>Réalisations</h5>
        <ul>
            <li>Refonte du site mobile du Monde.fr dans un environnement micro-services</li>
            <li>Migration de la publication des articles dans un environnement micro-services</li>
            <li>Élection présidentielle 2017</li>
            <li>Élections législatives 2017</li>
            <li>Migration d'adserver de smartad vers DFP</li>
            <li>Mise en place du prebid pour les publicités du site</li>
            <li>Mise en place du rafraichissement automatique des publicités du site</li>
        </ul>

        <h5>Bilan projets</h5>
        <ul>
            <li>Migration du site mobile LeMonde.fr: Amélioration de l'expérience utilisateur sur les devices mobiles.</li>
            <li>Migration des pages Présidentielle 2017: Meilleures performances sur la montée en charge.</li>
            <li>Migration des pages Législatives 2017: Meilleures performances sur la montée en charge.</li>
            <li>Amélioration de la visibilité et de l'inventaires des publicités servi sur le site.</li>
        </ul>

        <h5>Bilan personnels</h5>
        <ul>
            <li>Mise en place et développement au sein d'une architecture micro-services</li>
            <li>Suivis des développeurs à travers les « One on One »</li>
            <li>Cadrage technique des tâches de développement.</li>
            <li>Suivi et accompagnement des développements de l’équipe.</li>
            <li>Amélioration des performances/qualité du code.</li>
            <li>Suivi et améliorations des webperfs.</li>
        </ul>

        <h5>Liens</h5>
        <ul class="actions">
            <li class="4u"><a href="http://mobile.lemonde.fr/" class="icon rmargin fa-external-link">LeMonde mobile</a></li>
        </ul>

        <h5>Technologies utilisées</h5>
        <ul class="feature-icons">
            <li class="fa-code">PHP 7 / Symfony 3.2</li>
            <li class="fa-cogs">PHPUnit</li>
            <li class="fa-code">NodeJS / ReactJS / Redux</li>
            <li class="fa-code">Webpack / Jest / ESLint</li>
            <li class="fa-database">PostgreSQL</li>
            <li class="fa-code-fork">GIT / Github</li>
            <li class="fa-cogs">Jenkins / Travis</li>
            <li class="fa-cloud">Google Cloud Platform</li>
            <li class="fa-exchange">GCP PubSub</li>
        </ul>
    </article>
    <article>
        <header>
            <h4>Développeur Web au sein de l'équipe projet</h4>
            <p><span class="icon rmargin fa-calendar"></span>Mai 2014 - Mars 2017</p>
        </header>

        <p>Au sein des équipes web, je suis intervenu sur les divers projets de maintenance et d’évolution du site LeMonde.fr.</p>

        <h5>Réalisations</h5>
        <ul>
            <li>Portage de la version abonnée sur les supports mobiles.</li>
            <li>Évolution de la Une Abonné.</li>
            <li>Nouvelle chaîne LeMonde Afrique.</li>
            <li>Élections départementales 2015.</li>
            <li>Refonte des Portfolios.</li>
            <li>Migration des utilisateurs chez un partenaire externe et refonte du système d’authentification.</li>
            <li>Refonte du site mobile du Monde.fr</li>
        </ul>

        <h5>Bilan projets</h5>
        <ul>
            <li>Portage de la version abonnée sur les supports mobiles: Ce projet a entraîné une évolution des visites sur le site mobile de 20%.</li>
            <li>Évolution de la Une Abonné: Augmentation des abonnements de 60% au cours de l’année, en partie dû à cette évolution.</li>
            <li>Monde Afrique: Ouverture du site à une nouvelle audience.</li>
            <li>Élections départementales: Nouvelles pages de données permettant aux journalistes des croisements de données inédites.</li>
            <li>Refonte globale du système d’authentification utilisateur.</li>
            <li>Refonte intégrale du site mobile sous une architecture en micro-service.</li>
        </ul>

        <h5>Bilan personnels</h5>
        <ul>
            <li>Création des différentes pages d’authentification en Symfony 2.</li>
            <li>Création de divers ETL pour importer les données des élections départementales.</li>
            <li>Mise en place des différentes API NodeJS utilisées dans la refonte utilisateur.</li>
            <li>Mise en pratique des tests unitaires et tests fonctionnels.</li>
            <li>Mise en place de module front en ReactJS/Redux.</li>
            <li>Suivis qualitatif du code avec Scrutinizer.</li>
            <li>Utilisation des nouvelles technologies d’injection de dépendances dans un environnement ayant une dette technique importante.</li>
            <li>Utilisation de Github pour les projets du monde.</li>
            <li>Suivis des logs avec Kibana.</li>
            <li>Suivis des métriques avec Grafana.</li>
        </ul>

        <h5>Liens</h5>
        <ul class="actions">
            <li class="4u"><a href="http://www.lemonde.fr/" class="icon rmargin fa-external-link">LeMonde</a></li>
            <li class="4u"><a href="http://www.lemonde.fr/afrique/" class="icon rmargin fa-external-link">LeMonde - Afrique</a></li>
        </ul>

        <h5>Technologies utilisées</h5>
        <ul class="feature-icons">
            <li class="fa-code">PHP 5.6 / Symfony 2.8</li>
            <li class="fa-cogs">PHPUnit / Behat</li>
            <li class="fa-code">Javascript / jQuery</li>
            <li class="fa-cogs">RequireJS / Mocha</li>
            <li class="fa-database">Oracle / PostgreSQL</li>
            <li class="fa-code-fork">GIT / Github</li>
            <li class="fa-area-chart">StatsD / Grafana / Kibana</li>
            <li class="fa-exchange">RabbitMQ</li>
        </ul>
    </article>
</div>
{% endblock %}

