{% extends "section.twig" %}

{% block content %}
<header class="major">
    <h2>Ludovic Gonthier</h2>
    <p>Développeur Web - Freelance</p>
</header>
<p>Originaire de l'île de la Réunion, je suis arrivé en Métropole pour mes études. J'ai atterri dans la ville d'Amiens pour faire un DUT d'informatique, qui a ensuite été suivis par 3 ans à l'école EPITECH sur Paris. C'est lors de ces 3 dernière années d'études que je me suis découvert une passion pour le développement informatique.</p>
<p>Croyant fort en l'amélioration continue, je pratique une veille technique quotidienne. Pour approfondir les sujets qui m'intéresse, je me procure la littérature technique associée ce qui me permet d'aborder le sujet dans sa globalité.</p>
<p>Vimmer depuis 2016, j'adore partager avec les bonnes pratiques et les nouvelles trouvailles avec d'autres utilisateur de VIM.</p>

<h3>Technologies maitrisées</h3>
<ul class="feature-icons">
    <li class="fa-code">Javascript (ES6/ES7) / NodeJS / ReactJS</li>
    <li class="fa-cogs">Webpack / Jest / Mocha</li>
    <li class="fa-code">PHP (5.6/7) / Symfony (2.8/3.2)</li>
    <li class="fa-cogs">PHPUnit / Behat</li>
    <li class="fa-cubes">Architecture microservice</li>
    <li class="fa-cogs">Docker / Vagrant</li>
    <li class="fa-cloud">Google Cloud Platform</li>
    <li class="fa-code-fork">GIT / Github</li>
    <li class="fa-cogs">Travis / Jenkins</li>
    <li class="fa-database">Oracle / MySQL / PostgreSQL</li>
</ul>

<h3>Langues</h3>
<ul class="feature-icons">
    <li class="fa-book">Français : Langue maternelle</li>
    <li class="fa-book">Anglais : Lu, parlé, écrit</li>
</ul>
{% endblock %}
