{% extends "layout.twig" %}

{% block meta %}
    <title>Ludovic Gonthier - Développeur Web</title>
{% endblock %}

{% block header %}
    {% include "header.twig" %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="main">
        {% include "sections/about.twig" with { 'id': 'about' } only %}
        {% include "sections/projects.twig" %}
        {% include "sections/contact.twig" with { 'id': 'contact' } only %}
    </div>
</div>
{% endblock %}
